<mat-card class="card">
  <mat-card-content
    ><h2>SIGN UP</h2>

    <form [formGroup]="form">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-form-field class="input" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-form-field class="input" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput />
      </mat-form-field>
      <br />

      <mat-form-field class="input" appearance="fill">
        <mat-label>Email ID</mat-label>
        <input matInput />
      </mat-form-field>
      <br />

      <mat-form-field class="input" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput />
      </mat-form-field>
      <br />
      <mat-card-actions>
        <button mat-raised-button>Sign Up</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
